/*Base */

:root{
    --corDeFundo: #141414;
    --corPrincipal: #E50914;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--corDeFundo);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}

/* Header principal*/


.main-header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-header .container .container{
    padding: 0;
}


.main-header .container .container .logo{
    font-size: 25px;
    margin-right: 45px;
    margin-left: 50px;
}

.main-header{
    background-color: rgba(12, 12, 12, 0.4);
}

.main-header .main-header-nav a{
    text-decoration: none;
    margin-right: 13px;
    color: #e5e5e5;
    font-size: 15px;
}

.main-header .main-header-nav a:hover{
    color: #AAA;
    transition: linear 0.2s;
}

.main-header-right{
    display: flex;
    align-items: center;
    margin-left: 550px;
}

.main-header-right .logo{
    margin-right: 12px;
    font-size: 20px;
}

.main-header-right a{
    color: #e5e5e5;
}


/* Filme principal */
.filme-principal{
    color: white;

    background-color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) 100%), url(../img/Dark-Capa.jpg);
    height: 500px;
    width: 100%;
    background-size:cover;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-filme-principal{
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 1%;
}

.filme-principal .descricao{
    margin-bottom: 2.5%;
    font-size: 18px;
    width: 50%;
}

.filme-principal .container{
    margin-left: 4.2%;
}

.botoes{
    display: flex;
}

.filme-principal .botao{
    margin-right: 15px;
    height: 32px;
    border: none;
    font-size: 16px;


    padding: 17px 20px;

    display: flex;
    align-items: center;

    cursor: pointer;

    border-radius: 3px;
}

.filme-principal .botao-branco{
    background-color: white;
}

.filme-principal .botao-branco:hover{
    background-color: rgb(148, 148, 148);
    transition: 0.25s ease;
}

.filme-principal .botao-cinza{
    background-color: rgb(104, 104, 104);
    color: white;
}

.filme-principal .botao-cinza:hover{
    background-color: rgba(104, 104, 104, 0.35);
    transition: 0.3s ease;
}

.filme-principal .logo{
    margin-right: 7px;
    font-size: 26px;
}

/* Navegação dos filmes */

.box-filmes{
    height: 100%;
    width: 100%;
    display: block;
}

.titulos{
    color: white;
    margin-bottom: 15px;
}

.espaco{
    margin-bottom: 10px;
}

.espaco .container{
    margin-left: 4.2%;
}




